/dts-v1/ /plugin/;

/ {
  fragment@0 {
    target = <&base_fpga_region>;
    #address-cells = <1>;
    #size-cells = <1>;
    __overlay__ {
      #address-cells = <1>;
      #size-cells = <1>;

	  firmware-name = "soc_system_wrapper.bit.bin";

	  hm2reg_io_0: hm2-socfpga@0x43C00000 {
		compatible = "machkt,hm2reg-io-1.0";
		reg = < 0x43C00000 0x00010000 >;
	  };
    };
  };
};

